.slice-green{-fx-pie-color: #5cb85c;}
.slice-yellow{-fx-pie-color: #f0ad4e;}
.slice-orange{-fx-pie-color: #cc5500;}
.slice-red{-fx-pie-color: #B22222;}
.slice-black{-fx-pie-color: #000000;}
.slice-grey{-fx-pie-color: #555555;}